@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

body {
    font-family: 'Poppins', sans-serif;
    background-image: url("./../public/1.png");
    background-color: black;
    background-blend-mode: darken;
}